{% extends 'base.html' %}

{% block title %} About us {% endblock title %}

{% block content %}


<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% if sel_product.p_image %}
                    <img class="card-img-top mb-5 mb-md-0" src="{{ sel_product.p_image.url }}" width="600" height="700" alt="..." />
                {% else %}
                    <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                {% endif %}
            
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{ sel_product.p_name }}</h1>
                <div class="fs-5 mb-5">
                    {% if sel_product.is_on_sale %}
                        <span class="text-decoration-line-through">Rs. {{ sel_product.p_price }}</span>
                        <span>Rs. {{ sel_product.sale_price }}</span>
                                    
                    {% else %}
                        <span>Rs. {{ sel_product.p_price }}</span>
                    {% endif %}
                </div>
                <p class="lead">{{ sel_product.p_desc }}</p>

                <div class="d-flex">
                    <input class="form-control text-center me-3" id="txtQuantity" type="num" value="1" style="max-width: 3rem" />
                    
                    <button class="btn btn-outline-dark flex-shrink-0" type="button"
                         name="btnAddCart" id="btnAddCart" value="{{ sel_product.id }}">  <!-- set the value = product id (primary key) -->
                        <i class="bi-cart-fill me-1"></i> Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                Hello there ...
            </div>
        </center>

    </div>
</div> -->

    <script>
        $(document).ready(function() {
            $('#btnAddCart').click(function() {
                $.ajax({
                    url :  "{% url 'cart-add' %}",
                    type : "POST",
                    data : {
                        product_id : $('#btnAddCart').val(),
                        product_qty : $('#txtQuantity').val(),
                        csrfmiddlewaretoken : '{{ csrf_token }}',  /* MUST pass CSRF_TOKEN */
                    },
                    dataType : "json",
                    
                    success : function(data) {
                        // console.log(data);
                        $('#cart_qty').html(data.qty)
                    },

                    error : function(xhr, errmsg, err){

                    }
                });

            });
        });
    </script>

{% endblock content %}